/* formulario  */

#contactForm {
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-control:invalid {
    border-color: #dc3545; 
}
.form-control:valid {
    border-color: #28a745; 
}

.invalid-feedback {
    color: #dc3545; 
}

.valid-feedback {
    color: #28a745; 
}

.form-check-input:checked {
    background-color: #D63384;
    border-color: #D63384;
}

/* Estilo del conteiner del map */
.btn-fucsia-full {
    background-color: #D63384;
    color: #F8F9FB;
}