/*Detalle*/
#imagenes .galeria-imagen{
    background-color: white;
    border: none;
}
#imagenes li, #reseñas li{
    list-style: none;
}
.link {
    color: #D63384;
}

/*Tabla*/
table .encabezado {
    background-color: #212429;
    color: #F8F9FB;
}
table tr{
    border-color: #212429;
}