/*
Fucsia: #D63384
Blanco: #F8F9FB
Negro: #212429
*/
/*Detalle*/

.btn {
    background-color: #D63384;
    border-color: #F8F9FB;
    color: #F8F9FB;
}
.btn:hover, :not(.btn-check)+.btn:active{
    background-color: #D63384;
    border-color: #F8F9FB;
    opacity: 0.90;
}
:not(.btn-check)+.btn:active{
    background-color: #212429;
    border-color: #D63384;
    color: #D63384;
}
.link {
    color: #D63384;
}
.form-check-input:checked{
    background-color: #D63384;
    border-color: #F8F9FB;
}

/*Tabla*/
.nav-link{
    color: #212429;
}
.nav-link:hover,.nav-underline .nav-link.active{
    color: #D63384;
}

/*Tabla*/
table .encabezado {
    background-color: #212429;
    color: #F8F9FB;
}
table tr{
    border-color: #212429;
}