/* HEADER BODY FOOTER 
Fucsia: #D63384
Blanco: #F8F9FB
Negro: #212429
*/

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body */
body{
    background-color: #F8F9FB;
}


/* Header */
header, header .navbar-nav a {
    background-color: #212429;
    color: #F8F9FB;
}

.navbar-nav a:hover {
    color: #D63384;
}

.footer-line2 {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px; 
    background-color: #D63384; 
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-toggler.custom-toggler {
    border-color: #F8F9FB(255, 255, 255, 0.1);
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    filter: invert(1);
}



/* Fooder  */
footer {
    position: relative;
    background-color: #212429; 
    color: #F8F9FB;
}

footer .navbar-nav {
    font-size: 1.2em;
}

footer .navbar-nav .nav-item {
    margin: 0 1em; 
}

footer .navbar-nav .nav-link {
    color: #F8F9FB;

}

footer .navbar-nav .nav-link:hover {
    color: #D63384; 
}

.footer-line {
    position: absolute;
    left: 0;
    bottom: 43px;
    width: 100%;
    height: 3px; 
    background-color: #D63384; 
}
