#garantias {
    background-color: #F8F9FB;
}

#garantias h1 {
    color: #F8F9FB;
    background-color: #D63384;
}

#garantias h3, #garantias h4{
    color: #D63384;
}

#garantias ul li {
    margin-bottom: 1rem; 
}

#garantias .text-center {
    padding: 1rem; 
    border: 2px solid #D63384;  
}

