
/* 
Fucsia: #D63384
Blanco: #F8F9FB
Negro: #212429
*/


#garantias {
    background-color: #F8F9FB;
    border-radius: 0.5rem; 
    padding: 2.5rem 1.875rem; 
   
}

#garantias h1 {
    color: #D63384; 
    text-transform: uppercase;
    margin-bottom: 1.875rem; 
    border-bottom: 2px solid #212429; 
    padding-bottom: 0.5rem;
}


#garantias h3 {
    color: #212429; 
    font-weight: 600;
}


#garantias p, #garantias ul {
    color: #212429; 
    font-size: 1.25rem; 
    line-height: 1.8; 
}


#garantias ul {
    margin-left: 1.25rem; 
}

#garantias ul li {
    margin-bottom: 0.625rem; 
}


#garantias .text-center h4 {
    color: #D63384; 
}


#garantias .text-center p {
    color: #212429; 
}


#garantias .text-center {
    padding: 0.9375rem; 
    border: 2px solid transparent;    
}

#garantias .text-center {
    border-color: #D63384; /
}
