h1{
    padding-top: 1.5em;
    text-align: center;
    
}
.titulo-principal{
    color: #D63384;
}

#carrusel .carousel-item{
    background-color: #212429;
}
#introduccion .informacion{
    color: #F8F9FB;
}

#resumen-productos .container-titulo{
    background-color: #D63384;
    color: #F8F9FB;
    margin-top: 5em;
    margin-left: 5em;
    padding: 2em;
    width: 50%;
}
#resumen-productos .container-cuerpo{
    background-color: #212429;
    color: #F8F9FB;
}
/* TAREA ajuste de imagenes*/