h1{
    padding: 1.5em 0em;
    text-align: center;
}
.titulo-principal{
    color: #D63384;
}
#introduccion{
    color: #F8F9FB;
    text-align: center;
}
#introduccion .imagen-fondo{
    position: absolute;
}
.imagen-fondo img{
    width: 100%;
    position: fixed;
}
#carrusel .carousel-item{
    background-color: #212429;
    padding: 0em 25em;
}

#resumen-productos {
    padding: 5em 10em;
}
#resumen-productos .container{
    background-color: #D63384;
    color: #F8F9FB;
    margin-top: 5em;
    margin-left: 5em;
    padding: 2em;
    width: 50%;
}
#resumen-productos .list-group, #resumen-productos .list-group .list-group-item{
    background-color: #212429;
    text-align: center;
}
/* TAREA ajuste de imagenes*/