h1{
    padding: 1.5em 0em;
    text-align: center;
}
.titulo-principal{
    color: #D63384;
}
#introduccion{
    color: #F8F9FB;
    text-align: center;
}
#introduccion .imagen-fondo{
    position: absolute;
}
.imagen-fondo img{
    width: 100%;
    position: fixed;
}
#carrusel .carousel-item{
    background-color: #212429;
}


#resumen-productos .container-titulo{
    background-color: #D63384;
    color: #F8F9FB;
    margin-top: 5em;
    margin-left: 5em;
    padding: 2em;
    width: 50%;
}
#resumen-productos .container-cuerpo{
    background-color: #212429;
    color: #F8F9FB;
}
/* TAREA ajuste de imagenes*/