/* Acordiones  */
.accordion-button {
    background-color: #F8F9FB;
    color: #212429;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed), .accordion-button:hover {
    background-color: #D63384;
    color: #F8F9FB;   
}
.accordion-button:focus { 
    box-shadow: 0 0 0 0.2rem rgba(214, 51, 132, 0.25);
}

.accordion-body {
    background-color: #F8F9FB;
    color: #212429;
    border: 1px solid #D63384;
}