/* Cantidad */
.form-control-fucsia {
    border-color: #D63384;
}

.form-control-fucsia:focus {
    border-color: #D63384;
}

.custom-radio:checked {
    background-color: #D63384;
    border-color: #D63384;
}
.custom-radio:focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 51, 132, 0.25);
}

/* Tablas */
.table {
    border-color: #D63384;
}

/* Form Medios de pago */
form {
    background-color: #F8F9FB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form h3 {
    color: #D63384;
}
form .form-control {
    border-color: #D63384;
}
form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 51, 132, 0.25);
}
form .invalid-feedback {
    color: #d9534f;
    /*  mensajes de error */
}

/* Finalizar compra factura */
.table td,
.table th {
    vertical-align: middle;
    text-align: center;
}