.btn-fucsia-full{
    background-color: #D63384;
    color: #F8F9FB;
    border: 2px solid #D63384;
}
.btn-fucsia-full a{
    color: #212429;
    text-decoration: none;
}

.btn-fucsia-full:hover {
    background-color: #D63384;
    color:#F8F9FB;
}


.btn-filter {
    background-color: #D63384; 
    color: #F8F9FB ; 
    border: 1px solid #ced4da; 
}


.btn-filter:focus,
.btn-filter:active {
    background-color: #D63384; 
    color: #F8F9FB; 
    border-color: #212429; 
}