.productos-container {
    margin-top: 5rem;
}

.card {
    margin-bottom: 20px;
}

.btn-fucsia-full {
    background-color: #D63384;
    color: #F8F9FB;
    border: 2px solid #D63384;
}

.btn-fucsia-full:hover {
    background-color: #D63384;
    color:#F8F9FB;
}